/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bb{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cccccc;
    background-image: url('./images/barista-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Format the 'Welcome' Container */
.container{
    position: relative;
    max-width: 430px;
    width: 430px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.container .form{
    padding: 30px;
}

/* Format the 'Welcome!' Title in the container */
.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form .title::before{
    content: '';
    position: absolute;
    left: 30%;
    bottom: 0;
    height: 3px;
    width: 150px;
    background-color: #00704A;
    border-radius: 25px;
}

/* Format the textboxes */
.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 25px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}

/* Configure the textboxes to turn to a green hue during cursor hover */
.form .input-field:hover{
    border-color: #00704A;
}

.input-field input{
    position: absolute;
    width: 97%;
    padding: 0 35px; 
    border: none; 
    outline: none; 
    font-size: 16px;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
} 

.form-input{
    position: absolute;
    width: 97%;
    padding: 0 35px; 
    border: none; 
    outline: none; 
    font-size: 16px;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
    background: none;
    z-index: 1;
}

.form-label{
    position: absolute;
    left: 2.5rem;
    top: 0.7rem;
    padding: 0 .25rem;
    background-color: #fff;
    color: #aaa;
    font-size: 1rem;
    transition: .3s;
}

/* Input focus -- move up label */
.form-input:focus + .form-label{
    top: -.5rem;
    left: 2.5rem;
    color: #00704A;
    font-size: .75rem;
    font-weight: 500;
    z-index: 10;
}

/* Input focus -- sticky top label */
.form-input:not(:placeholder-shown).form-input:not(:focus)+ .form-label{
    top: -.5rem;
    left: 1.9rem;
    font-size: .75rem;
    font-weight: 500;
    z-index: 10;
}

/* Add coloring to the lining when textbox is clicked upon */
.input-field input:is(:focus, :valid){
    border-bottom-color: #00704A;
}

.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
}

/* Colorize the Icons as a textbox is clicked upon */
.input-field input:is(:focus, :valid) ~ i{
    color: #00704A;
}

/* Position the User and Pin Icon to the left */
.input-field i.icon{
    left: 0;
    margin-left: 8px;
}

/* Position the showHidePw icon to the right */
.input-field i.showHidePw{
    right: 0;
    margin-right: 12px;
    cursor: pointer;
    
}

/* Darker color background on mouse-over EyeSlash Icon */
.input-field i.showHidePw:hover {
  color: #00462e;
}

.form .button{
    margin-top: 5px;
    border: 2px solid transparent;
}

.form .button:hover {
    border-color: transparent;
}

.form .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #00704A;
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Add hover effects to the button */
.button input:hover{
    background-color: #00462e;
}

.form .register-new-user{
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}


.dark-bg{
  background-color: #11100e;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.login-bg{
  position: relative;
  align-self: center;
  background-color: #27251F;
 /* margin-top: 10vh;
  margin-bottom: 20vh;*/
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 350px;
  border-radius: 10px;
  padding: 15px;

  color: white;
  text-align: center;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}
/*.btn{
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  border-color: #00704A;
  background-color: #27251F;
  border-radius: 3px;
  padding: 2px 6px 2px 6px;
  border-top: 3px solid #00704A;
  border-right: 2px solid #00704A;
  border-bottom: 2px solid #00704A;
  border-left: 3px solid #00704A;
  text-align: center;
}*/
.centered {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}