/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Format the Container */
.add-user-container-class{
    position: relative;
    /*max-width: 800px;*/
    width: 650px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 80px;
}

.add-user-container-class .add-user-form{
    padding: 30px;
}

/* Format the textboxes */
.add-user-form .add-user-input-field{
    position: relative;
    height: 50px;
    width: 85%;
    margin-top: 30px;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 50px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}

/* Configure the textboxes to turn to a green hue during cursor hover */
.add-user-form .add-user-input-field:hover{
    border-color: #00704A;
}

.add-user-input-field input{
    position: absolute;
    width: 97%;
    padding: 0 35px; 
    border: none; 
    outline: none; 
    font-size: 16px;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.add-user-form-input{
    position: absolute;
    width: 97%;
    padding: 0 35px; 
    border: none; 
    outline: none; 
    font-size: 16px;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
    background: none;
    z-index: 1;
}

.add-user-form-label{
    position: absolute;
    left: 2.5rem;
    top: 0.7rem;
    padding: 0 .25rem;
    background-color: #fff;
    color: #aaa;
    font-size: 1rem;
    transition: .3s;
}

/* Input focus -- move up label */
.add-user-form-input:focus + .form-label{
    top: -.5rem;
    left: 2.5rem;
    color: #00704A;
    font-size: .75rem;
    font-weight: 500;
    z-index: 10;
}

/* Input focus -- sticky top label */
.add-user-form-input:not(:placeholder-shown).add-user-form-input:not(:focus)+ .add-user-form-label{
    top: -.5rem;
    left: 1.9rem;
    font-size: .75rem;
    font-weight: 500;
    z-index: 10;
}

/* Add coloring to the lining when textbox is clicked upon */
.add-user-input-field input:is(:focus, :valid){
    border-bottom-color: #00704A;
}



.white-bg{
    background-color: #fff;
    border-radius: 25px;
    padding: 5px;
    margin: 3%;
    position: sticky;
    border-bottom: 0%;
    width: auto;
    height: auto;  
}
.green-bg{
  background-color: #00704A;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.user-details{
    margin: 50px;
}

.btn-green {
    text-decoration: none;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #00704A;
    position: relative;
    height: 60px;
    width: 140px;
    padding: 8px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s ease;
    top: 10px;
    left: 100px;
    margin: 10px;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    padding: 8px;
    box-sizing: border-box;
}

.form-select {
    display: block;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: 'Poppins', sans-serif;

    width: 85%;
    padding: 0 35px; 
    font-size: 16px;
    margin-top: 30px;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 25px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}

label{
    font-size: 25px;
    color: #212529;
    font-family: var(--bs-btn-font-family);
}
.h1{
    color: #212529;
    font-size: 50px;
}
