.dark-bg{
  background-color: #27251F;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.green-bg{
  background-color: #00704A;
  border-radius: 25px;
  padding: 5px;
  margin: 2%;
  position: sticky;
  border-bottom: 0%;
  width: auto;
  height: auto;  
}
.login-bg{
  position: relative;
  align-self: center;
  background-color: #27251F;
 /* margin-top: 10vh;
  margin-bottom: 20vh;*/
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 350px;
  border-radius: 10px;
  padding: 15px;

  color: white;
  text-align: center;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}
.btn{
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  border-color: #00704A;
  background-color: #27251F;
  border-radius: 3px;
  padding: 2px 6px 2px 6px;
  border-top: 3px solid #00704A;
  border-right: 2px solid #00704A;
  border-bottom: 2px solid #00704A;
  border-left: 3px solid #00704A;
  text-align: center;
}
.centered {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 100px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  text-align: center;
  position: relative;
}
h2{
  font-size: 50px;
  font-weight: bold;
}
