/* Style for the section with order summary */
.order-summary{
  height: 100vh;
  width: 45vh;
  background-color: black;
}

.pay-button{
  display: inline-block
}

.discount-button{
  display: inline-block;
}

.display-button{
  border: none;
  outline: none;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: #00704A;
  position: relative;
  height: 60px;
  width: 140px;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease;
  top: 11px;
  left: 15px;
  margin: 10px;
}

.input-field{
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 30px;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 25px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: .3s;   
}

.order-header{
  color: #fff;
  margin-top: 3vh;
  margin-left: 15px;
}

.ordered-items{
  background-color: #fff;
  width: 86%;
  height: 72%;
  margin-left: 15px;
  margin-top: 10px;
}

.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 64px;
  height: 36px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  transition: background-color ease 0.3s;
  top: 20px;
  left: 32vh;
}
  
.toggle:before {
  content: "Here Go";
  display: block;
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  background: #fff;
  left: 4px;
  top: 4px;
  border-radius: 50%;
  font: 8px/28px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -27px;

  word-spacing: 37px;
  color: #fff;
  text-shadow: -1px -1px rgba(0,0,0,0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}
  
.toggle:checked {
  background-color: #00704A;
}
  
.toggle:checked:before {
  left: 32px;
}


/* Style for the section with order summary */
