/* Style for the section with order summary */
.clear{
  float: left;
  overflow: hidden;
}

.order-summary{
  height: 100vh;
  width: 365px;
  position: relative;
}

.inline-btn{
  display: inline-block;
}

.display-button{
  text-decoration: none;
  border: none;
  outline: none;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: #00704A;
  position: relative;
  height: 60px;
  width: 140px;
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  padding: 8px;
  box-sizing: border-box;
}

.pay-btn{
  top: 76vh;
  left: 15px;
  height: 68px;
}

.order-header{
  color: #fff;
  margin-top: 0vh;
  margin-left: 15px;
}

.ordered-items{
  background-color: #fff;
  width: 88%;
  height: 68%;
  margin-left: 15px;
  margin-top: 7vh;
  position: absolute;
}

.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 68px;
  height: 36px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  transition: background-color ease 0.3s;
  top: 2.5vh;
  left: 32vh;
}
  
.toggle:before {
  content: "Here Go";
  display: block;
  position: absolute;
  z-index: 2;
  width: 30px;
  height: 30px;
  background: #fff;
  left: 4px;
  top: 3px;
  border-radius: 50%;
  font: 10px/31px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -31.5px;

  word-spacing: 38px;
  color: #fff;
  text-shadow: -1px -1px rgba(0,0,0,0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}
  
.toggle:checked {
  background-color: #00704A;
}
  
.toggle:checked:before {
  left: 34px;
}


/* Style for the section with order summary */
.modify-window{
  background: #fff;
  margin-top: 17vh;
  width: 100px;
  height: 68%;
}

.check{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  content: "";
  width: 68px;
  height: 36px;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  margin-left: 15px;
}
.check:before {
  content: "";
  text-indent: 100px;
  width: 70px;
  height: 38px;
  border-radius: 50px;
  font-size: 25px;

  color: #fff;
  white-space: nowrap;
  margin-left: 25px;
}
  
.check:checked:before {
  content: "✔";
}

.search-btn{
  position: absolute;
  top: 10px;
  width: 80px;
  height: 60px;
}

.options-btn{
  margin-top: 30px;
  margin-left: 6px;
  width: 86%;
  background-color: #707070;
}

.categories-section{
  background: transparent;
  width: 65vw;
  height: 100vh;
  margin-left: 495px;
  margin-top: -100vh;
}

.menu-section{
  position: absolute;
  top: 10vh;
  left: 500px;
}

.menu-btn{
  height: 60px;
  width: 100px;
  left: 35px;
}

.Header{
  color: #fff;
  font-size: 25px;
}


Table{
  margin: 10px;
  width: 100%;
  height: 100%;
}


/*   Start navigation bar   */
nav {
  height: 40px;
  background-color: #11100e;
  display: inline-block;
}
.list-item {
  margin-top: 10px;
}
.list-item li {
  float: left;
  padding: 13px 13px;
  font-size: 28px;
  letter-spacing: 3.8px;
  border-radius: 3px;
  transition: all .7s ease-in-out;
  margin-left: 80px;
  margin-right: auto;
  
}
.list-item li a {
  text-decoration: none;
  font-weight: bold;
  color: #eee;
}
.list-item li:hover {
  background-color: #00704A;
}
.undernav li{
  font-size: 18px;
  margin-left: 60px;
}
.undernav li:hover {
  background-color: #707070;
}

