/* Style for the section with order summary */
.clear{
  float: left;
  overflow: hidden;
}

.order-summary{
  float: left;
  height: 100vh;
  width: 365px;
  position: relative;
}

.inline-btn{
  display: inline-block;
}

.display-button{
  text-decoration: none;
  border: none;
  outline: none;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: #00704A;
  position: relative;
  height: 60px;
  width: 140px;
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  padding: 8px;
  box-sizing: border-box;
}

.pay-btn{
  top: 75vh;
  left: 15px;
}

.order-header{
  color: #fff;
  margin-top: 2vh;
  margin-left: 15px;
}

.ordered-items{
  background-color: #fff;
  width: 88%;
  height: 74%;
  margin-left: 15px;
  margin-top: 1vh;
  position:absolute;
}

.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 68px;
  height: 36px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  transition: background-color ease 0.3s;
  top: 2.5vh;
  left: 32vh;
}
  
.toggle:before {
  content: "Here Go";
  display: block;
  position: absolute;
  z-index: 2;
  width: 30px;
  height: 30px;
  background: #fff;
  left: 4px;
  top: 3px;
  border-radius: 50%;
  font: 10px/31px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -31.5px;

  word-spacing: 38px;
  color: #fff;
  text-shadow: -1px -1px rgba(0,0,0,0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}
  
.toggle:checked {
  background-color: #00704A;
}
  
.toggle:checked:before {
  left: 34px;
}


/* Style for the section with order summary */
.modify-window{
  float: left;
  background: #fff;
  margin-top: 13vh;
  width: 100px;
  height: 74%;
}

.search-btn{
  position: absolute;
  top: 15px;
  width: 80px;
  height: 60px;
}

.options-btn{
  margin-top: 30px;
  margin-left: 6px;
  width: 86%;
  background-color: #707070;
}

.categories-section{
  background: transparent;
  width: 67.6%;
  height: 13vh;
  margin-left: 495px;
  margin-top: -100vh;
  background-color: #707070;
}
/*
.menu-section{
}*/